.Content {
  width: 90%;
  margin:90px auto 0;
  height:calc(100vh - 161px);
  overflow: auto;
}
.chatUser{
  position:fixed;
  bottom:0;
  height:70px;
  width:55%;
  left:0;
  background:#FAFAFA;
  border-top: 1px solid rgba(0,0,0,0.3);
}

.chatUser input[type='submit']{
  background:transparent;
  border:none;
  margin-left:10px;
}

.chatUser button{
    width: 45px;
    height: 45px;
    background: #EB5325;
    border: none;
    position: relative;
    top: 3px;
    cursor:pointer;
    border-radius: 50px;
    margin-left: 30px;
}

.chatUser button:focus{
  outline:0;
}

.chatUser button:hover{

}

.chatUser button i{
  font-size:17px;
  color:#F4F4F4;
}

.userSec{
  width:100%;
  margin:0 0 10px!important;
}

.userSec .hidden{
  display:none;
}

.userCase{
  width:50px;
  height:50px;
  margin-left:15px;
  border-radius:50px;
  float:right;
  line-height:50px;
  text-align:center;
  background:#EB5325;
  font-size:20px;
  color:#F4F4F4;
}

.userSec img{
  width:30px;
  margin-right:15px;
  float:left;
}

.userPicto{
  width:50px;
  line-height:50px;
  border-radius:50px;
  background:red;
}

.Input {
  line-height:70px;
  padding:0 2.5%;
  width: calc(100% - 220px);
  border:none;
  background:transparent;
  border-radius: 4px;
}
.Input:focus {
  outline: none;
}

.user {
    padding: 20px;
    max-width:60%;
    background-color: #0095C9;
    border-radius: 12px;
    border-top-right-radius:0;
    color:#FAFAFA;
    text-align: left;
    float:right;
    animation-name: bubble;
    animation-duration: 0.5s;
}

@keyframes bubble {
    from {opacity: 0;}
    to {opacity: 1;}
}

.bot {
    padding: 20px;
    max-width:60%;
    float:left;
    background-color: #FAFAFA;
    border:1px solid #e8e8e8;
    border-radius: 12px;
    border-top-left-radius:0;
    animation-name: bubble;
    animation-duration: 0.5s;
}

@media screen and (max-width:960px){
  .App{
    overflow:hidden;
  }
  .chatUser{
    width:100%;
  }
}
