.paroles{
	width:90%;
	margin:0 5%;
}

.paroles span{
	display: block;
	color:#8B8B8B!important;
}
.lyrics p{
	width:90%!important;
	color:#8B8B8B!important;
	font-size:15px!important;
	font-weight:lighter!important;
	margin:0 auto!important;
}
.lyrics a{
	color:#F4F4F4!important;
}
.lyrics h3{
	color:#FAFAFA;
	font-size:25px;
}

.paroles .par{
	margin-top:25px;
	margin-bottom:10px;
	color:#FAFAFA!important;
}
