.RightPart{
	overflow:hidden;
	position:absolute;
	width:45%;
	min-height:100vh;
	top:0;
	right:0;
	background:#171717;
}


.RightPart span, .RightPart a, .RightPart p{
	color:#FAFAFA;
}

.react-tabs__tab-list{
	position: fixed;
	width:45%;
	height:60px;
	overflow:hidden;
	color:#FAFAFA!important;
	top:0;
	right:0;
	padding:0;
	margin:0;
	z-index:10;
	list-style-type:none;
	background:#171717;
	border-bottom:solid 2px #393939;
}

.react-tabs__tab-list li{
	width:25%;
	float:left;
	text-align:center;
	line-height:60px;
}

.react-tabs__tab{
	position:relative;
	cursor: pointer;
}

.react-tabs__tab:before{
	content:'';
	transition:.5s;
	width:0;
	height:5px;
	position:absolute;
	top:0;
	background:#0095C9;
	left:0;
}

.react-tabs__tab--selected:before{
	width: 100%;
}
.RightPart .menuBurger {
	width:100%;
	top:0;
	left:0;
}

.RightPart .menuBurger i{
	color:#fff;
	position: absolute;
	top:15px;
	left:5%;
	font-size:30px;
}

@media screen and (max-width:960px){
	.RightPart{
		width:100%;
		right:-100%;
		position:relative;
		overflow:hidden;
	}
	.RightPart.active .react-tabs__tab-list{
		display:block;
	}
	.RightPart.active{
		overflow:auto;
		right:0;
	}
	.react-tabs__tab-list{
		top:auto;
		width: 100%;
		font-size:10px!important;
		display:none;
		height:60px;
		position:fixed;
		border-bottom:solid 0px #393939;
		border-top:solid 0px #393939;
		bottom:0px;
	}
}
