.list{
	width:90%;
	margin:0 auto;
	padding:0;
	overflow:hidden;
	list-style-type:none;
}
.list li{
	width:100%;
	position:relative;
	overflow:hidden;
}
.list p{
	width:100%;
	float:left;
	position:relative;
	padding-bottom:15px;
	margin-bottom:15px;
}

.list button{
	color:grey;
	float:right;
	width:20px;
	right:0;
	top:7px;
	border:none;
	background:none;
	font-size:20px;
	position: absolute;

}

.list p:before{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	height:2px;
	width:100%;
	background:grey;
}